<!--
    MarkDownPad

    @verson 4.0.0
-->
<html>
    <head>
        <title>MarkDownPad</title>
        <meta charset="UTF-8">

        <link rel="manifest" href="mdp.webmanifest">
        <script>
            if ('serviceWorker' in navigator) {
                console.log('CLIENT: service worker registration in progress.')
                navigator.serviceWorker.register('./service-worker.js')
                .then(() => {
                    console.log('CLIENT: service worker registration complete.')
                },
                () => {
                    console.error('CLIENT: service worker registration failed.')
                })
            }
            else {
                console.warn('CLIENT: service worker not supported.')
            }
        </script>
        
        <link rel="icon" href="./icon/mdp-512.png">

        <!-- highlight.js -->
        <link rel="stylesheet" href="./lib/atom-one-light.css">
        <script src="./lib/highlight.min.js"></script>

        <!-- EasyMDE -->
        <link rel="stylesheet" href="./lib/easymde.min.css">
        <script src="./lib/easymde.min.js"></script>

        <!-- Vue -->
        <script src="./lib/vue-2.6.11.js"></script>

        <!-- Font Awesome -->
        <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">

        <!-- proprietary includes -->
        <link rel="stylesheet" href="md.css">
        <script src="sidb.js"></script>
    </head>
    <body>
        <div id="app">
            <div>
                <select class="control" v-model="selected">
                    <option v-for="pad in pads" :value="pad">{{pad}}</option>
                </select>
                
                <button 
                    title="New"
                    class="control" 
                    @click="addPad"
                >
                    <i class="fa fa-plus"></i>
                </button>
                <button 
                    title="Delete"
                    class="control" 
                    @click="removePad" 
                    :disabled="selected=='home'"
                >
                    <i class="fa fa-minus"></i>
                </button>
                <button 
                    title="Rename"
                    class="control" 
                    @click="renamePad"
                    :disabled="selected=='home'"
                >
                    <i class="fa fa-pencil"></i>
                </button>
                <button 
                    title="Download"
                    class="control" 
                    @click="downloadPad" 
                >
                    <i class="fa fa-download"></i>
                </button>
            </div>
            <div id="right">
                <a href="https://github.com/Skhmt/pad" target="_blank">
                    <i class="fa fa-github"></i>
                </a>
                <a 
                    href="javascript: (function(){ window.open('https://skhmt.github.io/pad/', 'window', 'width=600,height=600'); })()"
                    title="Drag this to your bookmarks bar to create a bookmarklet."
                >
                    <i class="fa fa-bookmark"></i>
                </a>
            </div>
            <div id="mde-container">
                <textarea id="mde-placeholder">.</textarea>
            </div>
        </div>
        <script src="md.js"></script>
    </body>
</html>
