* {
    box-sizing: border-box;
}
 
body {
    height: 100vh;
    margin: 0;
    padding: 10px;
    /* overflow-y: auto; */
    min-width: 575px;
    min-height: 175px;
}

#right {
    text-align: right;
    color: #2c3e50;
    padding-top: 5px;
    padding-right: 2px;
}

#right a {
    color: #2c3e50;
    margin-left: 10px;
}

#mde-container {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: "Cascadia Code", "monospace";
}

.control {
    height: 30px;
    margin-right: 5px;
    border-radius: 3px;
    background: white;
}

select.control {
    border: 1px solid #bbb;
    color: #2c3e50;
    width: 300px;
    padding-left: 10px;
    font-weight: bold;
}

button.control {
    padding: 8px 10px 15px 10px;
    border: 1px solid rgba(0,0,0,0);
    color: #2c3e50;
}

button.control:hover {
    border: 1px solid #bbb;
}

button.control:disabled {
    color: #bbb;
    border: 1px solid rgba(0,0,0,0);
}

#app {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 40px 1fr;
}

.CodeMirror {
    height: calc(100vh - 130px);
    min-height: calc(100vh - 130px);
}

@font-face {
    font-family: "Cascadia Code";
    src: url("./lib/CascadiaCode.ttf");
}